<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name = "description" content = "Beixe Vídeos do Youtube no formato mp3 ou mp4 e ainda recorte trecho de alguma mídia.">
  <link rel = "canonical" href = "https://songslicer.onrender.com" /> 
  <meta name="google-site-verification" content="8SPBEN3iEBUXw4sb6nAHMBN6oemQFQWYsFOq4sqa1Rs" />
  <meta name="google-adsense-account" content="ca-pub-9353242131390060">
  <title>SongSlicer | Baixar vídeos do YouTube</title>
  <link rel="icon" type="image/x-icon" href="../static/songslicer.svg">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9353242131390060"
     crossorigin="anonymous"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>


</head>

<body>
  <header class="text-black-700 body-font bottom-2 shadow">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="../static/songslicer.svg" width="100" height="100" alt="Logo do SongSlicer">
        <span class="ml-3 text-xl">SongSlicer</span>
      </a>
      <nav class="md:ml-auto font-semibold flex flex-wrap  text-base ">
        <a href="#inicio" class="mr-5 hover:text-indigo-500 cursor-pointer">Início</a>
        <a href="#sobre" class="mr-5 hover:text-indigo-500 cursor-pointer">Sobre</a>
        <!-- <a class="mr-5 hover:text-indigo-500 cursor-pointer">FAQ</a> -->
      </nav>
      <a target="_blank" href="http://api.whatsapp.com/send?phone=5583996097405&text=Help-me"
        class="inline-flex bg-indigo-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-400 rounded text-white font-bold mt-4 md:mt-0">Suporte

      </a>
    </div>
  </header>
  <section class="text-gray-600 body-font" id="sobre">

    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col ">

      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 ">

        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Baixe, converta e edite as
          suas mídias mais rápido! </h1>
        <p class="mb-8 leading-relaxed">Basta copiar a URL do Vídeo que deseja baixar do YouTube, colar abaixo e
          configurar seu download.</p>

        <form class="w-full" action="/" method="post">
          <div class=" w-full md:justify-start items-end">
            <div class="relative mr-4 md:w-3/4 xxl:w-full xl:w-1/2 w-2/4">

              {% if message is defined and message %}
              {% if errorType is defined and errorType %}
              <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert"
                id="alert">
                <span class="block sm:inline">{{ message }}</span>
              </div>
              {% else %}
              <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"
                id="alert">
                <span class="block sm:inline">{{ message }}</span>
              </div>
              {% endif %}
              {% endif %}
            </div>

            <label for="video_url" class="leading-7 text-left text-sm text-gray-600">URL do Vídeo</label>
            <input type="text" id="video_url" name="video_url"
              class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              
              <div class=" py-4">
                <label for="video_url" class="leading-7 text-left text-sm text-gray-600">Cortar mídia</label>
                <div class="flex w-full">
                  <input placeholder="Tempo inicial (mm:ss)" type="text" id="initial" name="initial"
                    class="mr-2 w-full pl-5 bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  <input placeholder="Tempo final (mm:ss)" type="text" id="final" name="final"
                    class="w-full pl-5 bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
            </div>
            <div class="py-5 px-2">
              <label>Formato:</label>
              <div class="flex items-center">
                <input id="mp4" type="radio" value="mp4" name="fileFormat"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="mp4" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">MP4</label>
            </div>
            <div class="flex items-center">
                <input id="mp3" type="radio" value="mp3" name="fileFormat"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="mp3" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">MP3</label>
            </div>

            </div>


            <button type="submit"
              class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded font-bold text-lg">Baixar</button>
        </form>
      </div>

    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="../static/banner.svg">
    </div>
    </div>
  </section>
  <section class="text-gray-600 body-font bg-indigo-500">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-white mb-4">Por que usar o SongSlicer ?
        </h1>
        <!-- <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p> -->
      </div>
      <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Livre de Vírus Maliciosos</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Suporte ao usuário</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Download rápido</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Atualizações regulares</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="text-gray-600 body-font">
    
    <div class="bg-gray-100">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-500 text-sm text-center sm:text-left">© 2024 Desenvolvido com ❤️ por <a href="https://instagram.com/__alessandraavelino" target="_blank">Alessandra</a>
          
        </p>
        <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 text-sm">SongSlicer</span>
      </div>
    </div>
  </footer>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Função para esconder o alerta após 3 segundos
      setTimeout(function () {
        var alert = document.getElementById("alert");
        if (alert) {
          alert.style.display = "none";
        }
      }, 3000);
    });
  </script>
</body>

</html>